<nav class="navbar">
    <img src="assets/uppermost1.jpg" alt="header" />
    <div class="nav">
        <img src="assets/foodbridgelogo.png" alt="logo" />
    <div class="nav-elements">
        <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}"><a routerLink="">Home</a></li>
            <li routerLinkActive="active"><a routerLink="about-us">About Us</a></li>
            <li routerLinkActive="active"><a routerLink="our-mission">Our Mission</a></li>
            <li routerLinkActive="active"><a routerLink="join-us">Join Us</a></li>
            <li id="inputngo">Find NGO near you :<input type="text" placeholder="Nearby NGO?"/>
            </li>
            <li><a routerLink="user-dashboard/main-dashboard"><img src="assets/user.svg" alt="user"></a></li>
        </ul>
    </div>
</div>
</nav>
