<div class="ourMission">
    <div class="container">
        <div class="flexbox">
            <div class="image">
                <img src="assets/ourmission.jpg" alt="our mission">
            </div>
            <div class="content">
                <h1>Our Mission</h1>
            <p>
                Our organization is driven by a resolute commitment to eliminating hunger and malnutrition worldwide.
                 We believe that the key to achieving this lies in providing sustainable solutions that
                  empower individuals and communities to take ownership of their food security. To that end,
                   we work hand-in-hand with local communities, governments, and organizations to implement innovative and effective
                    programs that tackle the root causes of hunger in a way that is tailored to the unique needs of each community 
                    <span id="{dots}">...</span><span id="more"> Our laser focus on sustainable,
                     scalable solutions is a testament to our unyielding determination to create a world where everyone has access to the food they
                      need to thrive. We invite you to join us in our quest to make a tangible and long-lasting impact in the fight against hunger 
                      and malnutrition.</span>
            </p>
        <!-- <p>Our mission is to end hunger and malnutrition by providing sustainable solutions that empower individuals and
            communities. We believe that everyone has the right to access nutritious food, and we are committed to
            working towards a world where no one goes hungry.</p>
        <p>To achieve our mission, we partner with local communities, governments, and organizations to implement
            innovative and effective programs that address the root causes of hunger. We focus on solutions that are
            sustainable, scalable, and tailored to the unique needs of each community.
        </p>
        <p>We believe that hunger is a solvable problem, and we are committed to doing our part to create a world where
            everyone has access to the food they need to thrive. We are dedicated to making a measurable and lasting
            impact, and we will not rest until hunger is no longer a barrier to health, education, and opportunity for
            individuals and communities around the world.
        </p> -->
        <p><strong><i>"Don’t let hunger be our next failure"</i></strong></p>
    </div>
    </div>
    </div>
</div>