<div class="formContainer" >
    <img class="image" src="assets/login.svg">
    <div class="formWrapper">
        <img class="logo" src="assets/logo.svg">
        <span class="tittle">Login</span>
        <form class="ap">
            <label for="email-field">Please enter Email</label>
            <input type="email" id="email-field" placeholder="hello@xyz.com"/>
            <label for="password-field">Please enter Password</label>
            <input type="password" id="password-field" placeholder="**********"/>
        </form>
        <button>Sign In</button>
        
        <p>Don't have an account? Register</p>
    </div>
</div>
