<!-- <p>help-support works!</p> -->
<section style="margin: 31px 0px">
    <h2>Help and Support</h2>
    <p>If you have any questions or concerns about our food donation website, please feel free to contact us using the form on our <a href="contact.html">contact page</a>.</p>
    <h3>FAQs</h3>
    <ul>
      <li>
        <h4>How can I donate food?</h4>
        <p>To donate food, please go to our <a routerLink="/user-dashboard/main-dashboard">donate page</a> and fill out the form. We will then contact you to arrange for pickup or dropoff of the food.</p>
      </li>
      <li>
        <h4>What types of food do you accept?</h4>
        <p>We accept all types of non-perishable food items, as well as perishable items that can be stored safely (such as fresh produce).</p>
      </li>
      <li>
        <h4>How do you distribute the donated food?</h4>
        <p>We work with local food banks and charities to distribute the donated food to those in need.</p>
      </li>
      <li>
        <h4>How can I get involved with your organization?</h4>
        <p>We are always looking for volunteers and donations to help support our mission. Please visit our Home > <a href="#AboutUs" >about page</a> to learn more.</p>
      </li>
    </ul>
</section>