.formContainer{
    background-color: #fdd2b7;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formWrapper{
    background-color: #ffb88c;
    padding: 10px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.ap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    padding: 15px;
    border: none;
    border-bottom: 1px solid  rgb(173, 173, 173);
}
select{
    padding: 15px;
    border: none;
    border-bottom: 1px solid  rgb(173, 173, 173);
}
.logo{
    height: 120px;
}
button{
    background-color: #7b96ec ;
    border: none;
    color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 20px;
}