<div class="formContainer" >
    <div class="formWrapper">
        <img class="logo" src="assets/logo.svg">
        <span class="tittle">Register</span>
        <form class="ap">
            <input type="text" placeholder="Full Name"/>
            <input type="email" placeholder="Email"/>
            <input type="password" placeholder="Password"/>
            <select name="categorie">
                <option value="#">Individual / Social worker</option>
                <option value="#">Restaurants / Marriage Garden</option>
                <option value="#">NGOs</option>
                <option value="#">Others</option>
            </select>
            <button>Sign Up</button>
        </form>
        
        <p>Have an account? Login</p>
    </div>
</div>
