<nav class="left-nav">
    <ul class="nav-items">
        <li class="nav-item" routerLinkActive="active">
            <a class="side-nav-links" >Dashboard </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
             <a class="side-nav-links">Profile </a>
        </li>
        <li class="nav-item" routerLinkActive="active"> 
            <a class="side-nav-links">Settings </a>
        </li>
        <li class="nav-item" routerLinkActive="active"> 
            <a class="side-nav-links">Help & Support </a>
        </li>
        <li class="nav-item" routerLinkActive="active"> 
            <a class="side-nav-links">Logout </a>
        </li>
        <span id="version">version 1.0.008</span>
    </ul>
    
</nav>