<!-- <p>user-profile works!</p> -->
<div class="profile-container">
  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Profile</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/user-dashboard/main-dashboard">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">/ Profile</li>
        </ul>
      </div>
    </div>

    <!-- Div With Details -->

    <div class="main">
      <div class="profile-data">
        <aside>
          <div class="profile-main-data">
            <div class="profile-img">
              <img src="assets/profile.png" width="68px" alt="user" />
              <p class="img-description">Change Image</p>
            </div>
            <div class="profile-details">
              <h3 class="user-name">Ft. Atul Gupta</h3>
              <h5 class="user-designation">App Developer</h5>
              <p class="contribution-count">Contribution Count : 04 </p>
              <!-- <div class="profile-action">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div> -->

              <div class="btn update-btn"><a href="#"><button>Update Profile</button></a></div>
            </div>
          </div>
        </aside>
        <aside>
          <div class="profile-secondary-data">
            <ul class="personal-info">
              <li>
                <span class="title">Phone:</span>
                <span class="text"><a href="">9876543210</a></span>
              </li>
              <li>
                <span class="title">Email:</span>
                <span class="text"><a href="">foodBridge@example.com</a></span>
              </li>
              <li>
                <span class="title">User-Type :</span>
                <span class="text">NGO</span>
              </li>
              <li>
                <span class="title">User-ID:</span>
                <span class="text" style="color: grey;"><a href="">************3123</a></span>
              </li>
              <li>
                <span class="title">Address:</span>
                <span class="text">57 Airport Rd, ABC, 86020</span>
              </li>
              <li>
                <span class="title">Gender:</span>
                <span class="text">Male</span>
              </li>
            </ul>
          </div>
        </aside>
        <aside>
          <div class="edit-icon">
            <a><img src="assets/edit.png" width="30px"></a>
          </div>
        </aside>
      </div>
    </div>
  </div>
</div>
