.container {
    background-image: linear-gradient(to bottom, #f3c0a1 , #fdebdbf7, white);
    height: 100vh;
    display: flex;
    /* justify-content: space-between; */
}
#side-navbar{
    width:230px;
    height: 800px;
    background-color: #F4F2F0;
    position: sticky;
    left: 0;

}
#content{padding: 20px;}
