<div class="AboutUs">
    <div class="flexbox">
        <div class="Content">
            <h1>About Us</h1>
            <p>Foodbridge is a non-profit organization that aims to connect the food surplus from restaurants and hotels
                to the needy. We are a team of 4 students from the Jabalpur Engineering College, Jabalpur. We are currently
                working on a prototype of our website and mobile application. We are looking for volunteers to help us
                with our project. If you are interested in helping us, please contact us actively.
            </p>
        </div>
        <div class="image">
            <img src="assets/team.png" alt="team">
        </div>
    </div>
</div>